$logoColor: #EDEDED;
$logoShadowPink: #F06BBC;
$logoShadowBlue: #3AC3CD;
$logoHoverColor: white;

$logoTrianglePink: #FF4391;
$logoTriangleBlue: #74FFD9;

$gridColor: #EDEDEDED;

$boxBorderColor: white;
$boxBorderColorImportant: #ffd800;